.quill {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.quill-editor .ql-container {
  background: #ffffff;
}

.quill-editor .ql-toolbar {
  background: #ffffff;
}

.quill-editor .ql-editor {
  min-height: 20em;
  overflow-y: auto;
  max-height: 800px;
}

.quill-editor .ql-editor:focus {
  box-shadow: 2px 2px 2px 2px rgba(66, 153, 225, 0.6);
}
